[Desktop Entry]
Name=40 Inch Web App
Comment=Launches 40-inch Web App
Exec=/home/mebryan/workspace/github.com/MChenFK/data-acquisition/run_web_app.sh
Icon=/home/mebryan/workspace/github.com/MChenFK/data-acquisition/Icon.png
Terminal=false
Type=Application
Categories=Utility;
